{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "plugins": ["react", "prettier"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "react/display-name": [
            0,
            {
                "ignoreTranspilerName": true
            }
        ],
        "prettier/prettier": "error"
    },
    "parserOptions": {
        "version": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
