{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react"],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "react/display-name": [0,
            {
                "ignoreTranspilerName": true
            }
        ]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}